<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Formulário de cadastro - Fast Travel</title>

    <link rel="stylesheet" href="../administrativo/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link href="../administrativo/assets/vendor/fonts/circular-std/style.css" rel="stylesheet">
    <link href="../administrativo/assets/vendor/fonts/circular-std/style.css" rel="stylesheet">
    <link rel="stylesheet" href="../administrativo/assets/libs/css/style.css">
    <link rel="stylesheet" href="../administrativo/assets/libs/css/style.css">
    <link rel="stylesheet" href="../administrativo/assets/vendor/fonts/fontawesome/css/fontawesome-all.css">
    <link rel="stylesheet" href="../administrativo/assets/vendor/fonts/fontawesome/css/fontawesome-all.css">
    <style>
        html,
        body {
            height: 100%;
        }

        body {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: center;
            align-items: center;
            padding-top: 40px;
            padding-bottom: 40px;
        }
    </style>
    <meta name="robots" content="noindex, nofollow">
</head>



<body>



    <form method="post" action="/usuario" class="splash-container needs-validation" novalidate id="form-usuario"
        enctype="multipart/form-data">
        <div class="card">
            <div class="card-header">
                <h3 class="mb-1">Bem vindo a nossa empresa!</h3>
                <p>Por favor, Insira suas informações</p>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <input class="form-control form-control-lg" type="text" id="nome" name="nome" required
                        placeholder="Nome Completo" pattern="^[A-Za-zÀ-ÖØ-öø-ÿ\s]+$" autocomplete="off" maxlength="200">
                    <div class="valid-feedback">
                        Tudo certo!
                    </div>
                    <div class="invalid-feedback">
                        Utilize apenas caracteres alfabéticos.
                    </div>
                </div>
                <div class="form-group">
                    <input class="form-control form-control-lg" type="email" id="email" name="email" required
                        placeholder="Email" pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
                        autocomplete="off" maxlength="200">
                    <div class="valid-feedback">
                        Tudo certo!
                    </div>
                    <div class="invalid-feedback">
                        Informe um email válido, ex: nome@exemplo.com
                    </div>
                </div>
                <div class="form-group">
                    <input class="form-control form-control-lg" id="senha" type="password" required=""
                        placeholder="Senha" maxlength="200" name="senha">
                    <input type="checkbox" class="checkbox mt-2" onclick="mostrarSenha()">
                    <label class="form-check-label"><small>Mostrar senha</small>
                    </label>

                    <div class="valid-feedback">
                        Tudo certo!
                    </div>
                    <div class="invalid-feedback">
                        A senha é obrigatória
                    </div>
                </div>
                <div class="form-group">
                    <label for="foto_caminho" class="form-label">Foto</label>
                    <input class="form-control form-control-lg" type="file" id="foto_caminho" accept="image/*"
                        name="foto_caminho" required>
                    <div class="valid-feedback">
                        Tudo certo!
                    </div>
                    <div class="invalid-feedback">
                        Insira um arquivo.
                    </div>
                </div>
                <div class="form-group pt-2">
                    <button class="btn btn-block btn-primary" type="submit">Cadastrar</button>
                </div>
            </div>
            <div class="card-footer bg-white">
                <p>Ja possui um cadastro? <a href="/admin/login" class="text-secondary">Clique aqui</a></p>
            </div>
        </div>
    </form>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/administrativo/js/usuario/cadastrar.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>

</html>