<!doctype html>
<html lang="pt-br">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Formulário de login - Fast Travel</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../administrativo/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link href="../administrativo/assets/vendor/fonts/circular-std/style.css" rel="stylesheet">
    <link href="../administrativo/assets/vendor/fonts/circular-std/style.css" rel="stylesheet">
    <link rel="stylesheet" href="../administrativo/assets/libs/css/style.css">
    <link rel="stylesheet" href="../administrativo/assets/libs/css/style.css">
    <link rel="stylesheet" href="../administrativo/assets/vendor/fonts/fontawesome/css/fontawesome-all.css">
    <link rel="stylesheet" href="../administrativo/assets/vendor/fonts/fontawesome/css/fontawesome-all.css">
    <style>
        html,
        body {
            height: 100%;
        }

        body {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: center;
            align-items: center;
            padding-top: 40px;
            padding-bottom: 40px;
        }
    </style>
</head>

<body>
    <!-- ============================================================== -->
    <!-- login page  -->
    <!-- ============================================================== -->
    <div class="splash-container">
        <div class="card ">
            <div class="card-header text-center" style="padding-bottom: 15px;"><a style="padding-bottom: 0px;"
                    class="navbar-brand" href="index.html">Fast Travel</a><span class="splash-description">Insira suas
                    informações de usuário</span></div>
            <div class="card-body">
                <form id="form-login">
                    <div class="form-row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pb-3">
                            <label for="email">Email</label>
                            <input type="text" pattern="^[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}$"
                                autocomplete="off" class="form-control" id="email" placeholder="Informe o seu email"
                                value="" required>
                            <div class="valid-feedback">
                                Tudo certo!
                            </div>
                            <div class="invalid-feedback">
                                Informe um email válido
                            </div>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pb-3">
                            <label for="senha">Senha</label>
                            <input type="password" pattern="^[a-zA-Z0-9\-]+$" autocomplete="off" class="form-control"
                                id="senha" placeholder="Informe a sua senha" value="" required>
                            <input type="checkbox" class="checkbox mt-2" onclick="mostrarSenha()">
                            <label class="form-check-label"><small>Mostrar senha</small>
                            </label>


                            <div class="valid-feedback">
                                Tudo certo!
                            </div>
                            <div class="invalid-feedback">
                                Utilize apenas caracteres alfabéticos.
                            </div>
                        </div>

                    </div>
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Entrar</button>
                </form>
            </div>
            <div class="card-footer bg-white">
                <p>Não possui um cadastro? <a href="/admin/cadastro" class="text-secondary">Clique aqui</a></p>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- end login page  -->
    <!-- ============================================================== -->

    <!-- Optional JavaScript -->
    <script src="../administrativo/assets/vendor/jquery/jquery-3.3.1.min.js"></script>
    <script src="../administrativo/assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="/administrativo/js/login.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- SweetAlert2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>

</html>