<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aproxime</title>
    <style>
        * {
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
        }


        body {
            display: flex;
            justify-content: center;
            background-color: rgb(60, 131, 153);
        }


        .wrapper {
            width: 20%;
            align-items: center;
            justify-content: center;
            margin-top: 12%;
        }


        .header {
            display: flex;
            justify-content: space-between;
        }


        .topo-esquerda #logo {
            width: 93px;
            filter: invert(100%);
        }


        .container-main {
            display: flex;
            flex-direction: column;
            align-items: center;
        }


        .container-main #foto-main {
            width: 250px;
            padding-top: 15px;
            filter: invert(100%);
        }


        .topo-direita #horario {
            text-align: center;
            font-size: 25px;
            font-family: Arial, Helvetica, sans-serif;
            color: whitesmoke;
        }


        .topo-direita #data {
            text-align: center;
            font-size: 15px;
            font-family: Arial, Helvetica, sans-serif;
            color: whitesmoke;
        }


        #container-dados {
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
        }


        #container-dados #aproximar {
            padding-top: 10px;
            font-size: 27px;
            color: whitesmoke;
        }


        #container-dados #mensagem {
            font-size: 20px;
            color: whitesmoke;
        }

        #form-escondido {
            position: absolute;
            left: -9999px;
        }
    </style>
</head>

<body>
    <div class="wrapper">
        <header>
            <div class="header">
                <div class="topo-esquerda">
                    <img id="logo" src="/catraca/img/logo.png" alt=""> <!-- logo -->
                </div>


                <div class="topo-direita">
                    <p id="horario"></p>
                    <p id="data"></p>
                </div>
            </div>
        </header>


        <main>
            <div class="container-main">
                <div>
                    <img id="foto-main" src="/catraca/img/imagem-aproximar.png" alt="aproximar cartão">
                </div>


                <div id="container-dados">
                    <p id="mensagem">Valor da passagem: R$5,00</p>
                    <p id="aproximar">Aproxime seu cartão na tela.</p>
                </div>
            </div>

            <form id="form-escondido">
                <input type="text" autocomplete="off" id="cartao_codigo" name="cartao_codigo" required autofocus>
                <input type="submit" value="Enviar">
            </form>
        </main>
    </div>

    <script src="/catraca/js/dataHora.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/catraca/js/aproximar.js"></script>
</body>

</html>