<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Validação true</title>
    <style>
        * {
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
            color: white;
        }

        body {
            display: flex;
            justify-content: center;
            background-color: rgb(85, 150, 39);
        }

        .wrapper {
            width: 30%;
            align-items: center;
            justify-content: center;
            margin-top: 12%;
        }

        .header {
            display: flex;
            justify-content: space-between;
        }

        .topo-esquerda #logo {
            width: 93px;
            filter: invert(100%);
        }

        .container-main {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .container-main #foto-main {
            width: 200px;
            padding-top: 10px;
        }

        .topo-direita #horario {
            text-align: center;
            font-size: 25px;
            font-family: Arial, Helvetica, sans-serif;
        }

        .topo-direita #data {
            text-align: center;
            font-size: 15px;
            font-family: Arial, Helvetica, sans-serif;
        }

        #container-dados {
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
        }

        #container-dados #liberado {
            padding-top: 10px;
            font-size: 30px;
        }

        #container-dados #valor-cobrado {
            padding-top: 1px;
            font-size: 19px;
        }

        #container-dados #saldo {
            font-size: 17px;
        }
    </style>
</head>

<body>
    <div class="wrapper">
        <header>
            <div class="header">
                <div class="topo-esquerda">
                    <img id="logo" src="/catraca/img/logo.png" alt=""> <!-- logo -->
                </div>

                <div class="topo-direita">
                    <p id="horario"></p>
                    <p id="data"></p>
                </div>
            </div>
        </header>

        <main>
            <div class="container-main">
                <div>
                    <img id="foto-main" src="/catraca/img/certo.png" alt="">
                </div>

                <div id="container-dados">
                    <p id="liberado"></p>
                    <p id="valor-cobrado"></p>
                    <p id="saldo"></p>
                </div>
            </div>
        </main>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/catraca/js/dataHora.js"></script>
    <script src="/catraca/js/passageiro-true.js"></script>
</body>

</html>